<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logs" value="./logs" />

    <appender name="json"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
            <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                <prettyPrint>true</prettyPrint>
            </jsonFormatter>
            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
        </layout>
    </appender>



    <appender name="fileAppender"
              class="ch.qos.logback.core.FileAppender">
        <file>${logs}/spring-boot-logger.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %p %C{1} [%t] %m%n</pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logs}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>



    <root level="INFO">

        <appender-ref ref="fileAppender" />
    </root>

    <logger name="com.example.demo" level="TRACE" additivity="false">
        <appender-ref ref="fileAppender" />
        <!-- <appender-ref ref="json" /> -->

    </logger>
</configuration>
